<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="NinjatutorialSuite">
  <test  name="NinjaTest">
    <classes>
      <class name="com.qa.tutorials.testcases.RegisterTest"/>
      <class name="com.qa.tutorials.testcases.LoginTest"/>
      <class name="com.qa.tutorials.testcases.SearchTest"/>
     
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
